*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0D1A2D;
    font-family: "Outfit", sans-serif;
}

.container{
    width: 308px;
    background-color: #14273E;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    padding: 25px;
    box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.3);
}

.nft-image{
    position: relative;
}

img{
    width: 100%;
    height: 55%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    cursor: pointer;
}
g{
    transform: translate(40%, 40%);
}

.eye-viewier{
    width: 100%;
    height: 99%;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: rgba(0, 255, 247, 0.3);
    border-radius: 10px;
    opacity: 0;
    transition:all ease 0.6s;
    cursor: pointer;
}

.eye-viewier:hover{
    opacity: 1;
}

h1{
    color: white;
    font-size: 25px;
    font-weight: 400;
    padding: 20px 0px;
    cursor: pointer;
}

h1:hover{
    color: #00FFF8;
}

p{
    color: rgba(255, 255, 255, 0.435);
    padding-bottom:20px;
    font-weight: 200;
}

.part{
    display: flex;
    justify-content: space-between;
    padding-bottom:5px;
}

.part1, .part2{
    display: flex;
    cursor: pointer;
}

.part1 svg, .part2 svg{
    margin-top: 2px;
}

.p-part-1{
    color: #00FFF8;
    padding-left: 5px;
    font-weight: 600;
}

.p-part-2{
    color: #8BACD9;
    padding-left: 5px;
    font-weight: 600;
}

.line-bottom{
    border-bottom: 0.2px solid rgba(255, 255, 255, 0.348);
}

.bottom{
    padding-top: 15px;
}

.creator{
    height: 40px;
    width: 40px;
    border: 2px solid rgba(255, 255, 255, 0.674);
    border-radius: 50%;
}

.creator-image{
    margin-right: 10px;
}

.creator-text{
    margin-top: 8px;
}

.bottom{
    display: flex;
}

.name{
    color: white;
    cursor: pointer;
}

.name:hover{
    color: #00FFF8;
}